# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ToDoList.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Vitor Lima\Projetos\DevInHouse\Semana4\projeto\ToDoList\.idea\.idea.ToDoList.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
